@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: #397439,
  $fg-map-keys: (),
  $bg-map-keys: (),
);
@use '../base.scss' with (
  $color-bg: #550202,
  $color-bg-grad-spread: 6%,
);

.theme_syndicate_window {
  .Layout__content {
    background-color: #550202;
    background-image: none;
  }
}

.theme_syndicate_menu {
  background-color: rgba($color: #000000, $alpha: 0.4);
  height: 95%;
  margin: 2.5%;
  color: #161613;

  @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': #77bd5d,
      'color-disabled': #363636,
      'color-selected': #9d0808,
      'color-caution': #be6209,
      'color-danger': #9a9d00
    )
  );

  .Button {
    background-color: #c2c2c2;
    margin-top: 2%;
  }

  .Button:hover {
    background-color: #00ff00;
    transition: 0.5s;
  }

  .theme_syndicate_button_folder {
    @extend .Button;
    padding-left: 4%;
    padding-right: 4%;
    width: 25%;
    text-align: center;
    font-size: 12px;
  }

  .theme_syndicate_button_folder {
    @extend .Button:hover;
    padding-bottom: 2%;
  }

  .theme_syndicate_folder_buttons {
    max-height: 2%;
  }
}
