@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: #397439,
  $fg-map-keys: (),
  $bg-map-keys: (),
);
@use '../base.scss' with (
  $color-bg: #550202,
  $color-bg-grad-spread: 6%,
);

.theme_syndicate_window {
  .Window__content {
    .Layout__content {
      background-color: #550202;
      background-image: url(../../assets/bg-syndicate.svg);
    }
  }
}

.theme_syndicate_menu {
  background-color: rgba($color: #000000, $alpha: 0.4);
  height: 95%;
  margin: 2.5%;
  color: #161613;

  @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': #c2c2c2,
      'color-disabled': #707070,
      'color-selected': #a03636,
      'color-caution': #be6209,
      'color-danger': #9a9d00
    )
  );

  .Button {
    background-color: #c2c2c2;
    margin-top: 2%;
    margin-right: 1%;
    border-radius: 0px;
    outline: base.em(2px) outset #c3c3c3;
  }

  .Button:hover {
    background-color: #00ad2e;
    transition: 0.1s;
  }

  .syndicate_mbutton {
    @extend .Button;
    padding-left: 4%;
    padding-right: 4%;
    width: 25%;
    text-align: center;
    font-size: 12px;
  }

  .syndicate_mbutton--unselected {
    background-color: #a03636;
    outline: base.em(2px) outset #902626;
  }

  .syndicate_mbutton--selected {
    background-color: #00ad2e;
    outline: base.em(2px) outset #008d00;
    transition: 0.1s;
  }

  .syndicate_mbutton--selected:hover {
    background-color: #00cd3e;
  }
}
